page-home {
  .ion-label {
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
  }

  ion-label {
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
  }
}
