<ion-header>
  <ion-navbar>
    <ion-title>
      Pagination
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list (swipe)="swipeEvent($event)">
    <ion-slides style="display:block; height:100%">
      <ion-slide>
        <ion-item>
          <ion-title>
            Id.{{pages.id}}-{{pages.title}}
          </ion-title>
          <p>{{pages.body}}</p>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-list>

  <button ion-button (click)="left()">Left Page</button>
  <button ion-button (click)="right()">Right Page</button>
</ion-content>
